body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    line-height: 1.5;
    padding: 4em 1em;
    margin: 0 auto;
    max-width: 50em;
    color: #555;
    background-image: url(assets/The_underwater_surface_structures_of_an_iceberg_in_Svalbard.jpg);
  }
  h2 {
    margin-top: 1em;
    padding-top: 1em;
    color: #333;
  }
  
  